.btnCommments{
    border-radius: 2px solid;
    background-color: #0079D3;
    border-color: #0079D3;
    color: aliceblue;
    fill: #0079D3;
    opacity: 1;
}


.user-name{
    font-size: 18px;
    font-weight: bold;
    opacity: 1;
}

.username{    
    color: black;
}


.post-text{
    margin-top: 10px;
}

.like, .showcomment{
    margin-top: 10px;
    background-color: #0079D3;
    border-color: #0079D3;
    color: aliceblue;
    fill: #0079D3;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;    
    opacity: 1;
    width: auto;
    height: auto;
}
.comment{    
    --post-line-color: #ccc;    
    border: 1px solid #ccc;
    overflow: hidden;
    background-color: rgba(255,255,255,0.8);
    color: #878A8C;
    position: relative;
}

.comments{
    margin-top: 5px;
    border: 5px solid;
    border-color: #0079D3;
    padding: 10px;

}